body {
    background-image: url("/tp2/assets/img/background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0B1315;
    overflow: hidden;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("/tp2/assets/img/background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


.personnage {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    z-index: 1;
}

#personnage {
    position: relative;
    width: 5.5vw;
    height: auto;
    z-index: 2;
}


#basdroite, #basgauche,
#milieudroite, #milieugauche,
#hautdroite, #hautgauche {
    position: absolute;
    width: 25vw;
}

#hautgauche  { transform-origin: 100% 100%; }
#hautdroite  { transform-origin: 0% 100%; }
#milieugauche{ transform-origin: 100% 100%; }
#milieudroite{ transform-origin: 0% 100%; }
#basgauche   { transform-origin: 100% 100%; }
#basdroite   { transform-origin: 0% 100%; }

#hautgauche {
    right: 60%;
    bottom: 80%;
}

#hautdroite {
    left: 63%;
    bottom: 80%;
}

#milieugauche {
    right: 60%;
    bottom: 50%;
}

#milieudroite {
    left: 60%;
    bottom: 50%;
}

#basgauche {
    right: 50%;
    bottom: 5%;
}

#basdroite {
    left: 50%;
    bottom: 5%;
}

/* STYLE DES BLOCS PLACEHOLDERS */
.placeholder {
    background-color: black;
    border: white 1px solid;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    z-index: 1000;
}

.ui-layer {
    width: 100%;
    z-index: 1000; /* PLUS haut que tout ton personnage */
}

/* ESPACE POUR LE PERSONNAGE */
.content-layout {
    margin-top: 80px;
}

/* COLONNE CENTRALE : GRID INTERNE */
.center-col {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

/* GRILLE DU BAS AU CENTRE */
.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* COLONNE DROITE : ZDOG HAUT, RESTE BAS */
.right-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* COLONNE GAUCHE : ICÔNES ET SLIDERS EN BAS */
.left-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.personnage,
.personnage img {
    pointer-events: none;
}

/* MODULE BINAIRE - N’AFFECTE PAS LES AUTRES PLACEHOLDERS */
.placeholder .binary-module * {
    font-family: 'Share Tech Mono', monospace;
}

.placeholder .binary-module {
    color: white;
}

/* INPUT */
.placeholder .binary-module input[type=text] {
    background-color: rgb(10,10,10);
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid white;
    padding: 5px;
    filter: grayscale(1);
    color: white;
}

/* BUTTON */
.placeholder .binary-module button {
    background-color: rgb(10,10,10);
    border: 1px solid white;
    padding: 6px 10px;
    margin-bottom: 20px;
    color: white;
}

/* LAYOUT */
.placeholder .binary-module .process {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.placeholder .binary-module .code {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* CASES */
.placeholder .binary-module .adres,
.placeholder .binary-module .code > div {
    border: 1px dashed rgb(150,150,150);
    padding: 10px;
    cursor: pointer;
}

.placeholder .binary-module .code > div span {
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(100,100,100);
    padding: 5px;
}

/* HIGHLIGHTS */
.placeholder .binary-module .active {
    color: #67B2D8;
}

.placeholder .binary-module .block-active {
    background-color: #67B2D8;
    color: rgb(10,10,10);
}









